{##}
{{ form_ajax('onUpdate', { model: user, class: 'ui form column'} ) }}

<div class="field">
    <label for="accountName">Логин</label>
    <input name="name" type="text" id="accountName" value="{{ form_value('name') }}">
</div>

<div class="field">
    <label for="accountEmail">Email</label>
    <input name="email" type="email" id="accountEmail" value="{{ form_value('email') }}">
</div>

<div class="field">
    <label for="accountPassword">Новый пароль</label>
    <input name="password" type="password" id="accountPassword">
</div>

<div class="field">
    <label for="accountPasswordConfirm">Подтверждение пароля</label>
    <input name="password_confirmation" type="password" id="accountPasswordConfirm">
</div>

<button type="submit" class="ui button">Сохранить</button>

{{ form_close() }}